body {
  background-image: url(/images/bg.jpg);
  color: #333;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

#incident_container.withmap {
  width: 350px;
}

.incidentlist {
  list-style: none;
  margin: 0;
  padding: 0;
}
.incident {
  background: #fff;
  border-radius: 5px;
  font-size: 14px;
  margin: 10px;
  padding: 10px;
}
.incident .area {
  font-size: 11px;
}
.incident .logtype {
  font-size: 16px;
  font-weight: bold;
}
.incident .logtime {
  font-size: 12px;
  font-style: italic;
  margin-top: 4px;
}
.incident .dtstart, .incident .geo {
  display: none;
}
.incident .button {
  font-size: 11px;
  float: right;
}
.incident .details {
  display: none;
  font-size: 12px;
  list-style: none;
  margin: 10px 0 0 10px;
  padding: 0;
}
.incident .details .detailtime {
  font-weight: bold;
}
.incident .details .sigalert {
  color: red;
}

#map_container {
  bottom: 10px;
  left: 350px;
  min-height: 500px;
  min-width: 430px;
  position: fixed;
  right: 10px;
  top: 10px;
}

#mapcontrol {
  margin: 10px;
  text-align: right;
}

#mapcontrol .menubutton {
  background-color: #111;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,.2)), color-stop(0.5, rgba(150,150,150,.2)), to(rgba(0,0,0,.0)));
  background-image: -moz-linear-gradient(top, rgba(255,255,255,.2), rgba(150,150,150,.2), rgba(0,0,0,.0));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#30ffffff,endColorstr=#10000000) progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=135,strength=2);
  border-radius: 5px;
  color: #fff;
  height: 16px;
  margin-bottom: 5px;
  margin-left: 50px;
  opacity: .6;
  padding: 5px 10px 6px;
  text-align: center;
  width: 40px;
}

#mapcontrol .menubutton .gear {
  height: 20px;
  width: 20px;
}

#mapcontrol .mapmenu {
  height: 0;
  opacity: .7;
  overflow: hidden;

  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
}

#mapcontrol:hover .mapmenu {
  height: 100px;
  opacity: .9;
}

#mapcontrol .mapmenu .button {
  display: block;
  font-size: 11px;
  margin-bottom: 5px;
  width: 90px;
}

#trafficmap {
  height: 100%;
  width: 100%;
}

.marker {
  font-size: 12px;
}
.marker .logtype {
  font-size: 16px;
  font-weight: bold;
}
.marker .logtime {
  font-style: italic;
}
